<mat-dialog-actions fxLayoutAlign="end">
    <button mat-button mat-dialog-close>X</button>
</mat-dialog-actions>

<mat-dialog-content class="mat-typography">
    <div fxLayout="row" fxLayoutGap="2rem">
        
        <h3>Issue ID: SFH862</h3>
        <h3>Date: 01 / 10 / 21</h3>
    </div>
    <h3 mat-dialog-title>Case Details:</h3>
    <div fxLayoutAlign="center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quae aliquid at vel mollitia blanditiis quos nesciunt
            error modi magni! Vel earum adipisci impedit alias quidem vero praesentium incidunt porro? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quae, tempora nobis, fuga hic nisi eum qui consectetur vitae quidem dolores aut totam impedit repellendus iure animi sequi fugit eos.
        </p>
    </div>
    <h3 mat-dialog-title>Solution:</h3>
    <form>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Provide a solution</mat-label>
            <textarea matInput placeholder="For this issue"></textarea>
        </mat-form-field>
    </form>
    
    <div fxLayoutAlign="center">
        <button cdkFocusInitial mat-dialog-close >Provide Solution</button>
    </div>
    
</mat-dialog-content>
