@import "/Users/codena/Desktop/angular/src/styles.scss";
.data,
.data_title {
  mat-grid-tile {
    padding: 0.5rem 0rem;
    margin: 0.5rem 0rem;
    border-bottom: solid 0.001rem #ecf8ff;
  }
}

mat-card {
  overflow-y: scroll;
  max-height: 68vh;
  margin-left: 2rem;
}
