<mat-grid-list cols="2">
  <mat-grid-tile class="nav-container" fxFlex="20">
      <div fxLayout="column">
      <p>ShareDoc</p>
      <mat-card *ngFor="let icon of menuData">
        <button mat-raised-button color="primary">
          <mat-icon> {{ icon.type }} </mat-icon>
          <mat-card-title> {{icon.text}} </mat-card-title>
        </button>
      </mat-card>
      <button mat-raised-button color="primary">Log Out</button>
      </div>
  </mat-grid-tile>

  <mat-grid-tile class="page-container" fxFlex="80">
    <h1>Hi</h1>
  </mat-grid-tile>

</mat-grid-list>