.cards {
  margin: 2rem 8rem;
}
.card {
  width: 160px;
  height: 110px;
  cursor: pointer;
  border-radius: 5rem;
  mat-icon {
    color: #004aad;
  }
}
mat-card:hover {
  transition: 1s;
  background-color: #ff914d;
}
h1 {
  font-size: 52px;
  font-weight: 600;
  padding: 3rem 0rem 2rem 2rem;
  color: #004aad;
  font-family: Montserrat;
}
