

    <h1>Issues</h1>



<div fxLayout="row" fxLayoutAlign="space-between"> 
    <mat-card class="card" *ngFor = "let card of CARD" >
        <p>{{ card.title}}</p>
       <h4>{{ card.number }}</h4>
    </mat-card>

    <div class="card">
        <button>Submit Issue</button>
    </div>
</div> 

<mat-card>
    <h2>Unsolved Issues</h2>
    <div *ngFor="let caseData of CASE_DATA" fxLayout="row" fxLayoutAlign="space-between">
        <p>N° {{caseData.number}} </p>
        <p>Issue ID: {{caseData.id}}</p>
        <p>Date: {{caseData.date}} </p>
        <p>Description: {{caseData.description}} </p>
        <div> <button>Case Details</button> </div>
    </div>
    
</mat-card>
