/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  .material-icons {
    font-family: "Material Icons";
  }
  font-family: Montserrat, sans-serif;
  h1 {
    font-size: 52px;
    font-weight: 600;
    padding: 3rem 0rem 2rem 2rem;
    color: #004aad;
    font-family: Montserrat;
  }
  h3 {
    font-size: 18px;
    color: #004aad;
    font-family: Montserrat;
  }
  h4 {
    font-size: 28px;
    font-weight: bold;
    color: #38b6ff;
    font-family: Montserrat;
  }
  mat-grid-tile {
    padding: 0.5rem 0rem;
    margin: 0.5rem 0rem;
    border-bottom: solid 0.001rem #ecf8ff;
  }
  button {
    background-color: #38b6ff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0rem 0rem 0rem;
    border-radius: 0.2rem;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.08);
  }
  button:focus {
    background-color: #ff914d;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.08);
    transition: all 0.5s;
  }
  a {
    text-decoration: none;
    color: #004aad;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
